.header{
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

.header a{
    text-decoration:none ;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}
.header a:hover{
    background-color: tomato;
    border: 5px;
    padding: 5px;
}